<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Information</title>
</head>
<body>

    <h1>Student Profile</h1>

    <ul>
        <li><strong>Name:</strong> Bui Gia Phat</li>
        <li><strong>Student ID:</strong> 2374802010375</li>
        <li><strong>Academic Year:</strong> year 2</li>
        <li><strong>Major:</strong> Infromation Technology</li>
        <li><strong>Hobbies:</strong> Reading, Coding, Playing Chess</li>
    </ul>

</body>
</html>
